/*
    Document   : hardware.css
    Created on : 2015-09-11 06:28 PM
    Author     : Atran
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}